.form-container {
  border-radius: 16px;
  background: var(--white);
  padding: 16px;
  display: grid;
  grid-template-columns: 282px auto;
  min-height: 616px;
  max-width: 966px;
  width: 100%;
  gap: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 16px;

  &__left-sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: url("../../assets/images/bg-sidebar-desktop.svg") no-repeat center center / cover;
    border-radius: 12px;
    padding: 40px 32px;
  }

  &__right-content {
    display: flex;
    flex-direction: column;
  }

  &__right-content-container {
    width: 100%;
    max-width: 462px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    margin-top: 42px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 32px;
    color: var(--marine-blue);
  }

  &__description {
    color: var(--cool-gray);
  }

  &__inputs-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 0;
    width: 100%;
    gap: 0;
    box-shadow: none;
    margin: 0;
    padding-bottom: 100px;

    &__left-sidebar {
      flex-direction: row;
      justify-content: center;
      gap: 16px;
      height: 180px;
      padding: 34px 16px;
      border-radius: 0;
      background: url("../../assets/images/bg-sidebar-mobile.svg") no-repeat center center / cover;
    }

    &__right-content {
      margin: 16px;
      margin-top: -60px;
      padding: 40px 24px;
      border-radius: 12px;
      background: var(--white);
    }

    &__header {
      margin-top: 0;
    }

    &__footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 16px;
      background: var(--white);
      margin-bottom: 0;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    &__inputs-container {
      margin-top: 24px;
    }
  }
}


.sidebar-step {
  display: grid;
  grid-template-columns: 35px auto;
  column-gap: 16px;
  align-items: center;

  &__number-badge {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-gray);
    font-size: 14px;
    font-weight: 700;
    color: var(--light-gray);
    grid-row: 1 / 4;

    &--active {
      background: var(--light-blue);
      border-color: var(--light-blue);
      color: var(--marine-blue);
    }
  }

  &__number-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--light-gray);
    text-transform: uppercase;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__step-text {
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;

    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    display: unset;
  }
}

.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 36px;

  &__card {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    cursor: pointer;

    &:has(input:checked) {
      background: var(--pastel-blue);
      border-color: var(--purplish-blue);
    }

    &:hover {
      border-color: var(--purplish-blue);
    }
  }

  &__card-input {
    display: none;
  }

  &__card-icon {
    height: 42px;
    width: 42px;
    margin-bottom: 45px;
  }

  &__card-title {
    font-weight: 500;
    color: var(--marine-blue);
    margin-bottom: 6px;
  }

  &__card-price {
    font-weight: 400;
    color: var(--cool-gray);
    line-height: 1;
  }

  @media (max-width: 768px) {
    margin-top: 24px;
    grid-template-columns: 1fr;

    &__card {
      height: 80px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &__card-icon {
      margin-bottom: 0;
    }
  }
}

.plans-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 48px;
  margin-top: 36px;
  background: var(--pastel-blue);
  border-radius: 8px;

  &__text {
    font-weight: 500;
    color: var(--marine-blue);
  }

  &__button {
    margin-top: 24px;
  }
}

.add-ons {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__card {
    height: 82px;
    padding: 20px 28px;
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 24px;

    &:has(input:checked) {
      background: var(--pastel-blue);
      border-color: var(--purplish-blue);
    }

    &:hover {
      border-color: var(--purplish-blue);
    }
  }

  &__card-title {
    font-weight: 500;
    color: var(--marine-blue);
  }

  &__card-description {
    color: var(--cool-gray);
  }

  &__card-price {
    margin-left: auto;
    justify-self: flex-end;
    color: var(--purplish-blue);
  }

  @media (max-width: 768px) {
    margin-top: 24px;

    &__card {
      height: auto;
      gap: 12px;
      padding: 12px;
    }

    &__card-description {
      font-size: 14px;
    }
  }
}

.summary {
  background: var(--pastel-blue);
  border-radius: 8px;
  padding: 20px;
  margin-top: 36px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-title {
    font-weight: 500;
    color: var(--marine-blue);
  }

  &__header-button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    font: inherit;
    color: var(--cool-gray);
    font-size: 14px;
    text-decoration: underline;

    &:hover {
      color: var(--purplish-blue);
    }
  }

  &__header-price {
    font-weight: 700;
    color: var(--marine-blue);
  }

  &__seperator {
    height: 1px;
    background: var(--light-gray);
    margin: 20px 0;
  }


  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__item-title {
    color: var(--cool-gray);
  }

  &__item-price {
    color: var(--marine-blue);
  }

  @media (max-width: 768px) {
    margin-top: 24px;
  }
}

.summary-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
  padding: 0 20px;

  &__title {
    color: var(--cool-gray);
  }

  &__price {
    font-size: 22px;
    font-weight: 700;
    color: var(--purplish-blue);
  }
}

.thank-you {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__icon {
    height: 80px;
    width: 80px;
    margin-bottom: 32px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: var(--marine-blue);
    margin-bottom: 18px;
  }

  &__description {
    color: var(--cool-gray);
  }
}